/* general styling */
body{
    background-color: #FFFFFF;
}
h1{
    font-size: 300%;
    font-family: "Montserrat", "Avenir", "sans-serif";
    font-weight: bold;
    text-align: center;
    color: #FFCB05;
}
h2{
    font-size: 200%;
    font-family: "Montserrat", "Avenir", "sans-serif";
    font-weight: bold;
    color: #000
}
h3{
    font-size: 150%;
    font-family: "Montserrat", "Avenir", "sans-serif";
    font-weight: bold;
    color: #000
}
p{
    font-size: 100%;
    font-family: "source sans pro", "sans-serif";
    color: #000;
    line-height: 120%
}
/* header styling */
header{
    background-color: #575294;
}
/* nav styling */
nav{
    background-color: #575294;
    width: 100%
}
nav ul{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    border: 5%;
    border-style: solid;
    border-color: #575294;
}
nav li{
    font-size: 200%;
    font-family: "source sans pro", "sans-serif";
    color: #575294;
    font-weight: 300;
    text-align: center;
}
nav a:active{

}

/* footer styling */
footer{
    background-color: #575294
}
footer p{
    color: #FFCB05;
    text-align: center;
}
/* skip to main content styling */
.skip{
    position: absolute;
    top: -40px;
}
.skip a:focus{
    position: absolute;
    top: 20px
}